body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
}


.sidebar {
  font-size: 16px;
  width: 220px;
  background: #161a1d;
  border-right: 2px solid #ee0e0e;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 35px;
}

.sidebar a {
  padding: 25px 18px;
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  transition: 0.9s;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar a:hover {
  background: #ee0e0e;
  color: #fff;
}
.user-section {
  margin-top: auto;
  padding: 25px 15px;
  border-top: 1px solid #ee0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #161a1d;
}

.user-info {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  gap: 10px;
}

.logout-btn {
  background-color: #ee0e0e;
  color: white;
  border: none;
  padding: 10px 0;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: background 0.3s, transform 0.2s;
}

.logout-btn:hover {
  background-color: #b20b0b;
  transform: scale(1.05);
}


.content {
  flex: 1;
  padding: 40px;
  color: white;
  overflow-y: auto;
  text-align: center;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.content h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 10px auto;
  background: #ee0e0e;
  border-radius: 3px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.dev-card {
  background-color: #151515;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 0 10px rgba(238, 14, 14, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
}

.dev-card:hover {
  transform: scale(1.03);
}

.dev-card h3 {
  margin: 10px 0 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.dev-card p {
  font-size: 0.95em;
  color: white;
}

.dev-card a {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 10px;
  text-decoration: none;
  gap: 7px;
}

.dev-card a:hover {
  text-decoration: underline;

}

