@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background: linear-gradient(rgb(84, 117, 126), rgb(95, 95, 171), rgb(94, 125, 137));
}


.noticias{
    text-align: left;
    color: black;
    font-weight: bolder;
    font-size: 1.0em;
    margin: 50px;
    
}

.info{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
ul > li > a{
    padding: 10px;
            
    
}
ul{
    list-style: none;
}
nav:hover{
    transform: scale(98%);
    color: lightgrey;
}


.acesseaqui:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 1s;
    
}